USE [master]
GO
/****** Object:  Database [UtilityManagementDB]    Script Date: 11/7/2018 1:04:04 AM ******/
CREATE DATABASE [UtilityManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UtilityManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UtilityManagementDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UtilityManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UtilityManagementDB_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UtilityManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UtilityManagementDB]
GO
USE [UtilityManagementDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/7/2018 1:04:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[Mobile] [int] NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[IsEnabled] [bit] NULL,
	[companyName] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInvoice]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInvoice](
	[InvoiceKey] [uniqueidentifier] NOT NULL,
	[InvoiceID] [int] NULL,
	[WorkPerformed] [varchar](max) NULL,
	[JobKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[InvoiceDate] [datetime] NULL,
	[IsPaid] [bit] NULL,
 CONSTRAINT [PK_CustomerInvoice_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInvoiceDetail]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInvoiceDetail](
	[InvoiceDetailKey] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceKey] [uniqueidentifier] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Rate] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CustomerInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerJobRequest]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerJobRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [varchar](max) NULL,
	[CustomerId] [int] NULL,
	[Contact] [varchar](max) NULL,
	[ServiceAddress] [varchar](max) NULL,
	[ServiceTypeId] [int] NULL,
	[ServiceDetails] [varchar](max) NULL,
	[CustomerBudget] [decimal](18, 2) NULL,
	[EntryDate] [datetime] NULL,
	[ScheduleDate] [datetime] NULL,
	[JobStatusId] [int] NULL,
	[IsJobCreated] [bit] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VndorId] [int] NULL,
	[CustomerId] [int] NULL,
	[JobRequestId] [int] NULL,
	[JobName] [varchar](50) NULL,
	[JobDescription] [varchar](max) NULL,
	[ServiceDescription] [int] NULL,
	[JobStatusId] [int] NULL,
	[Remark] [varchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[ScheduleDate] [datetime] NULL,
	[VendorStartingDate] [datetime] NULL,
	[VendorCompletionDate] [datetime] NULL,
	[JobCompletedDate] [datetime] NULL,
 CONSTRAINT [PK_Job_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobStatus]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[IsEnabled] [bit] NULL,
 CONSTRAINT [PK_JobStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](50) NULL,
	[IsEnabled] [bit] NULL,
 CONSTRAINT [PK_ServiceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffList]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffList](
	[PersonnelKey] [uniqueidentifier] NOT NULL,
	[PID] [nvarchar](max) NULL,
	[PName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Pic] [image] NULL,
	[PicType] [nvarchar](max) NULL,
	[Usergr] [uniqueidentifier] NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsUser] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_StaffList] PRIMARY KEY CLUSTERED 
(
	[PersonnelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStaff]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStaff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[Mobile] [int] NULL,
	[Mail] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Pic] [image] NULL,
	[pictype] [varchar](50) NULL,
	[usergroup] [varchar](50) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[isEnable] [bit] NULL,
 CONSTRAINT [PK_UserStaff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 11/7/2018 1:04:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[companyName] [varchar](50) NULL,
	[IsEnabled] [bit] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorInvoice]    Script Date: 11/7/2018 1:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorInvoice](
	[InvoiceKey] [uniqueidentifier] NOT NULL,
	[InvoiceId] [int] NULL,
	[WorkPerformed] [varchar](max) NULL,
	[JobKey] [int] NULL,
	[VendorKey] [int] NULL,
	[InvoiceDate] [datetime] NULL,
	[IsPaid] [bit] NULL,
 CONSTRAINT [PK_VendorInvoice_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VndorInvoiceDetail]    Script Date: 11/7/2018 1:04:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VndorInvoiceDetail](
	[InvoiceDetailKey] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceKey] [uniqueidentifier] NULL,
	[ItemName] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Rate] [decimal](18, 0) NULL,
 CONSTRAINT [PK_VndorInvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 
GO
INSERT [dbo].[Customer] ([Id], [name], [Mobile], [Email], [Address], [IsEnabled], [companyName]) VALUES (1, N'Atik Sarker', 172378765, N'atik@gmail.com', N'Uttara', 1, N'grammen')
GO
INSERT [dbo].[Customer] ([Id], [name], [Mobile], [Email], [Address], [IsEnabled], [companyName]) VALUES (2, N'Husna Afrin', 1234, N'huhgsdfsasl', N'uttara', 1, NULL)
GO
INSERT [dbo].[Customer] ([Id], [name], [Mobile], [Email], [Address], [IsEnabled], [companyName]) VALUES (6, N'tithi', 1234, N'tithi@gmail.com', N'uttara', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[CustomerInvoice] ([InvoiceKey], [InvoiceID], [WorkPerformed], [JobKey], [CustomerKey], [InvoiceDate], [IsPaid]) VALUES (N'c9a295d1-eee9-4ce1-80ec-55e04c799fb0', 3, NULL, 11, 6, CAST(N'2018-11-07T00:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[CustomerInvoiceDetail] ON 
GO
INSERT [dbo].[CustomerInvoiceDetail] ([InvoiceDetailKey], [InvoiceKey], [ItemName], [Quantity], [Rate]) VALUES (4, N'c9a295d1-eee9-4ce1-80ec-55e04c799fb0', N'Plug', 1, CAST(22.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[CustomerInvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerJobRequest] ON 
GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [JobStatusId], [IsJobCreated]) VALUES (1, N'Atik-2001', 1, N'Karim', N'Uttara, Dhaka', 1, N'Need to fixed fan', CAST(2000.00 AS Decimal(18, 2)), CAST(N'2017-07-19T00:00:00.000' AS DateTime), CAST(N'2017-07-19T00:00:00.000' AS DateTime), 3, NULL)
GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [JobStatusId], [IsJobCreated]) VALUES (3, N'Husna123', 2, N'Rahim', N'Uttara, Dhaka', 1, N'Need to fixed fan', CAST(1000.00 AS Decimal(18, 2)), CAST(N'2017-07-19T00:00:00.000' AS DateTime), CAST(N'2017-07-19T00:00:00.000' AS DateTime), 7, NULL)
GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [JobStatusId], [IsJobCreated]) VALUES (2008, N'Tithi-123', 6, N'tithi', N'dhanmondi', 1, N'Need to repair fan', CAST(200.00 AS Decimal(18, 2)), CAST(N'2018-04-06T00:00:00.000' AS DateTime), CAST(N'2018-04-06T00:00:00.000' AS DateTime), 8, NULL)
GO
SET IDENTITY_INSERT [dbo].[CustomerJobRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 
GO
INSERT [dbo].[Job] ([Id], [VndorId], [CustomerId], [JobRequestId], [JobName], [JobDescription], [ServiceDescription], [JobStatusId], [Remark], [EntryDate], [ScheduleDate], [VendorStartingDate], [VendorCompletionDate], [JobCompletedDate]) VALUES (11, 1, 6, 2008, N'Floor Furnish', N'dghhhk
aahjkk', 1, 1, NULL, CAST(N'2018-10-28T15:25:40.773' AS DateTime), CAST(N'2018-10-21T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Job] ([Id], [VndorId], [CustomerId], [JobRequestId], [JobName], [JobDescription], [ServiceDescription], [JobStatusId], [Remark], [EntryDate], [ScheduleDate], [VendorStartingDate], [VendorCompletionDate], [JobCompletedDate]) VALUES (12, 1, 2, 2018, N'Floor Furnish', N'tyyuui
ahjjkkl', 1, 5, N'ttttt', CAST(N'2018-10-29T16:29:19.710' AS DateTime), CAST(N'2018-10-31T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[Job] ([Id], [VndorId], [CustomerId], [JobRequestId], [JobName], [JobDescription], [ServiceDescription], [JobStatusId], [Remark], [EntryDate], [ScheduleDate], [VendorStartingDate], [VendorCompletionDate], [JobCompletedDate]) VALUES (13, 1007, 7, 2009, N'Shiftting', N'1.need to move belongings
2.need two pickup
3.need three laboure
', 7, 8, N'Customer area near uttara', CAST(N'2018-10-31T22:26:34.910' AS DateTime), CAST(N'2018-10-10T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[JobStatus] ON 
GO
INSERT [dbo].[JobStatus] ([Id], [Name], [IsEnabled]) VALUES (1, N'New Job Request', 1)
GO
INSERT [dbo].[JobStatus] ([Id], [Name], [IsEnabled]) VALUES (3, N'Assigned To Vendor', 1)
GO
INSERT [dbo].[JobStatus] ([Id], [Name], [IsEnabled]) VALUES (4, N'Vendor Start Work', 1)
GO
SET IDENTITY_INSERT [dbo].[JobStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceType] ON 
GO
INSERT [dbo].[ServiceType] ([Id], [ServiceName], [IsEnabled]) VALUES (1, N'Electrical ', 1)
GO
INSERT [dbo].[ServiceType] ([Id], [ServiceName], [IsEnabled]) VALUES (2, N'Plumbing', 1)
GO
INSERT [dbo].[ServiceType] ([Id], [ServiceName], [IsEnabled]) VALUES (3, N'Lift services', 1)
GO
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 
GO
INSERT [dbo].[Vendor] ([Id], [name], [Mobile], [Email], [Address], [companyName], [IsEnabled]) VALUES (1, N'tithi(electronics)', N'0176543', N'Farhapopy@gmail.com', N'uttrara', N'Suresoft', 1)
GO
INSERT [dbo].[Vendor] ([Id], [name], [Mobile], [Email], [Address], [companyName], [IsEnabled]) VALUES (7, N'Toma Electronics', N'12345', N'toma@gmail.com', N'uttara', N'Aprosoft', 1)
GO
INSERT [dbo].[Vendor] ([Id], [name], [Mobile], [Email], [Address], [companyName], [IsEnabled]) VALUES (1007, N'Karim(electronics)', N'4567', N'karim@gmail.com', N'1234', N'Wipro', 1)
GO
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
ALTER TABLE [dbo].[CustomerInvoice]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInvoice_Customer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerInvoice] CHECK CONSTRAINT [FK_CustomerInvoice_Customer]
GO
ALTER TABLE [dbo].[CustomerInvoice]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInvoice_Job] FOREIGN KEY([JobKey])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[CustomerInvoice] CHECK CONSTRAINT [FK_CustomerInvoice_Job]
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_CustomerJobRequest_JobStatus] FOREIGN KEY([JobStatusId])
REFERENCES [dbo].[JobStatus] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_CustomerJobRequest_JobStatus]
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_Job_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_Job_Customer]
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_Job_ServiceType] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceType] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_Job_ServiceType]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Customer1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Customer1]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_CustomerJobRequest] FOREIGN KEY([JobRequestId])
REFERENCES [dbo].[CustomerJobRequest] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_CustomerJobRequest]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_JobStatus] FOREIGN KEY([JobStatusId])
REFERENCES [dbo].[JobStatus] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_JobStatus]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_ServiceType1] FOREIGN KEY([ServiceDescription])
REFERENCES [dbo].[ServiceType] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_ServiceType1]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Vendor] FOREIGN KEY([VndorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Vendor]
GO
ALTER TABLE [dbo].[VendorInvoice]  WITH CHECK ADD  CONSTRAINT [FK_VendorInvoice_Job] FOREIGN KEY([JobKey])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[VendorInvoice] CHECK CONSTRAINT [FK_VendorInvoice_Job]
GO
ALTER TABLE [dbo].[VendorInvoice]  WITH CHECK ADD  CONSTRAINT [FK_VendorInvoice_Vendor] FOREIGN KEY([VendorKey])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[VendorInvoice] CHECK CONSTRAINT [FK_VendorInvoice_Vendor]
GO
USE [master]
GO
