
@{
    ViewBag.Title = "CustomerService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Reports</h2>
<table class="table table-bordered">
    <tr><td> @Html.ActionLink("Customer Service", "CustomerService", "CommonReports", null, new { target = "_blank" })</td></tr>
    <tr><td> @Html.ActionLink("Shape1", "Shape1", "CommonReports", null, new { target = "_blank" })</td></tr>

</table>

