<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Note: Try to remove the following lines to see the effect of CSS positioning */
        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

            .affix + .container-fluid {
                padding-top: 70px;
            }

        footer {
            background-color: #696969;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div>

        <!--<div class="header" style="position:fixed";>  -->
        <div class="panel-heading">
           
            <img src="~/css/alogo.jpg" alt="Cannot show">
            <div class="pull-right">
                <a href="@Url.Action("Logout", "UserHome")" target="_blank" class="btn btn-info btn-lg">
                    Login
                </a>
                <a href="@Url.Action("Signup", "Home")" target="_blank" class="btn btn-info btn-lg">
                    Signup
                </a>
                <a href="~/css/mail.html" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-map-marker"></span> Location
                </a>

                <a href="#" data-toggle="tooltip" data-placement="bottom" title="notification" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-bell"></span>
                </a>
            </div>
        </div>

        <div class="panel body" ;>
            <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197" style="background-color:#20A7C2 ;">
                <ul class="nav navbar-nav">
                    <button type="button" class="btn btn-info btn-lg">Home</button>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Appliance Repair</button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Appliance Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>AC Service & Repair</p>
                                    <p>TV (LCD/LED) servicing</p>
                                    <p>Refrigerator Servicing</p>
                                    <p>Washing Machine Repair</p>
                                    <p>Microwave Oven Repair</p>
                                    <p>IPS Service</p>
                                    <p>Water Purifier Servicing</p>
                                    <p>Gas Stove/Burner Repair</p>
                                    <p>Trademill Repair & Installation</p>
                                    <p>Electric Geyser Services</p>
                                    <p>Generator Services</p>



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Shifting</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Shifting Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Moving Homes</p>
                                    <p>Moving Offices</p>
                                    <p>Transport for Shifting</p>
                                    <p>Furniture Shifting</p>
                                    <p>Packer and Movers</p>
                                    <p>Consultant for Shifting</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Gadget Repair</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Gadget Repair Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Desktop Services</p>
                                    <p>Laptop Servicing</p>
                                    <p>Display Services</p>
                                    <p>CCTV Camera Services & Repair</p>
                                    <p>Access Control Services</p>
                                    <p>Internet Networking Services</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Business Support</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Business Support Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Office Shifting</p>
                                    <p>Office/Industrial Cleaning</p>
                                    <p>Internet Networking Services</p>
                                    <p>Software Solution</p>
                                    <p>Video Making</p>
                                    <p>Printing & Sticker</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">Laundry Home Service</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Laundry service Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>General Laundry Services</p>
                                    <p>Best Deal for Pressing</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal5">Beauty Service</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal5" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Beauty service Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Best Deal for Beauty</p>
                                    <p>Beauty Salon Services</p>
                                    <p>Makeup and Hairstyle</p>
                                    <p>Wedding and Mehendi</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal6">Car Wash and Repair</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal6" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Car wash and repair service Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Best Deal for Car Wash</p>
                                    <p>Emergency Service</p>
                                    <p>Basic Car Servicing</p>
                                    <p>Car Mechanical Works</p>
                                    <p>Car Electrical Works</p>
                                    <p>Car Decoration Works</p>
                                    <p>Vehicle Tracking Service</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal7">Cleaning and pest Control</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal7" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Cleaning service Category</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Best Deal for Cleaning</p>
                                    <p>On Demand Cleaner</p>
                                    <p>Professional Home Cleaning</p>
                                    <p>Home Basic Cleaning</p>
                                    <p>Pest Control Service</p>
                                    <p>Office/Industrial Cleaning</p>
                                    <p>Tank Cleaning Services</p>
                                    <p>Kitchen Hood Cleaning</p>
                                    <p>Fridge Cleaning</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </ul>

            </nav>
        </div>
    </div>
   
    <div class="container">
        @RenderBody()
      

    </div>
    <footer class="container-fluid">
        <div>
            <p>Biofans.com</p>
            <h4>Contact With Us</h4>
            <div class="row">
                <div class="col-md-4">
                   <br /><br />
                    <address>
                        Mail:husnaafrin@gmail.com
                       <br />
                        Phone:01773175481<br />
                        Address:Road 13, Sector 11, Uttara Dhaka-1230
                    </address>
                    <div>
                        <canvas id="canvas" width="130" height="130"
                                style="background-color:#333"></canvas>

                        <script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 100);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#333');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#333');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#333';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}
                        </script>
                    </div>
                </div>

                <div class="col-md-4">
                    <img src="~/css/cottage.png" class="img-rounded" alt="Cinque Terre">
                </div>
                <div class="col-md-3">
                    <p>Become a Service Provider</p>
                    <p>Become a seba manager</p>
                    <p>Stay with us this is the largest sevice platfrom.</p>
                    <img src="~/css/world4.png" class="img-rounded" alt="Cinque Terre">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <p style="color:black" ;>  <a href="" data-toggle="modal" data-target="#myModal21">About Us</a></p>

                </div>
            </div>			 <!-- Modal -->
            <div class="modal fade" id="myModal21" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:black" ;>About us</h4>
                        </div>
                        <div class="modal-body" style="color:black" ;>
                            <p>Step 1: Go to the Signup option then fillup the form correctly</p>
                            <p>Step 2: Then give your username and passward and login into the system</p>
                            <p>Step 3: After login you will be able to login into your profile from there you can send your service request</p>





                        </div>
                        <div class="modal-footer" style="color:black" ;>
                            <p>If you face problem then contact with us</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="well">

                    <p style="color:black" ;> For Help <a href="" data-toggle="modal" data-target="#myModal20">click here</a></p>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal20" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:black" ;>If you cannot understand how to login and contact with us</h4>
                            </div>
                            <div class="modal-body" style="color:black" ;>
                                <p>Step 1: Go to the Signup option then fillup the form correctly</p>
                                <p>Step 2: Then give your username and passward and login into the system</p>
                                <p>Step 3: After login you will be able to login into your profile from there you can send your service request</p>





                            </div>
                            <div class="modal-footer" style="color:black" ;>
                                <p>If you face problem then contact with us</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="well">
                    <p style="color:black" ;>contact 0177319876 </p>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>