USE [master]
GO
/****** Object:  Database [UtilityManagementDB]    Script Date: 7/28/2017 12:44:58 AM ******/
CREATE DATABASE [UtilityManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UtilityManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UtilityManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UtilityManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UtilityManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UtilityManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UtilityManagementDB]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyKey] [uniqueidentifier] NOT NULL,
	[CompanyID] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyAddress] [nvarchar](max) NULL,
	[CompanyPhone] [nvarchar](max) NULL,
	[CompanyMobile] [nvarchar](max) NULL,
	[CompanyEmail] [nvarchar](max) NULL,
	[CompanyWebsite] [nvarchar](max) NULL,
	[CompanyFax] [nvarchar](max) NULL,
	[ContactPersonName] [nvarchar](max) NULL,
	[ContactPersonNo] [nvarchar](max) NULL,
	[Logo] [image] NULL,
	[LogoType] [varchar](max) NULL,
	[IsDelete] [bit] NULL,
	[StateCode] [int] NULL,
	[CityKey] [int] NULL,
	[ZIPKey] [bigint] NULL,
	[Title] [nvarchar](max) NULL,
	[ContactEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Mobile] [int] NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerJobRequest]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerJobRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [varchar](max) NULL,
	[CustomerId] [int] NULL,
	[Contact] [varchar](max) NULL,
	[ServiceAddress] [varchar](max) NULL,
	[ServiceTypeId] [int] NULL,
	[ServiceDetails] [varchar](max) NULL,
	[CustomerBudget] [decimal](18, 2) NULL,
	[EntryDate] [datetime] NULL,
	[ScheduleDate] [datetime] NULL,
	[ReturnScheduleDate] [datetime] NULL,
	[JobStatusId] [int] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Job]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobRequestId] [int] NULL,
	[VendorId] [int] NULL,
	[VendorCharge] [decimal](18, 2) NULL,
	[MeterialDescription] [varchar](max) NULL,
	[MaterialCost] [decimal](18, 2) NULL,
	[JobStatusId] [int] NULL,
 CONSTRAINT [PK_Job_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobStatus]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_JobStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](50) NULL,
 CONSTRAINT [PK_ServiceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaffList]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffList](
	[PersonnelKey] [uniqueidentifier] NOT NULL,
	[PID] [nvarchar](max) NULL,
	[PName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Pic] [image] NULL,
	[PicType] [nvarchar](max) NULL,
	[CompanyKey] [uniqueidentifier] NULL,
	[Usergr] [uniqueidentifier] NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsUser] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_StaffList] PRIMARY KEY CLUSTERED 
(
	[PersonnelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usergroup]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usergroup](
	[UserGroupKey] [uniqueidentifier] NOT NULL,
	[GroupID] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[CompanyKey] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Usergroup] PRIMARY KEY CLUSTERED 
(
	[UserGroupKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 7/28/2017 12:44:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[ContactPerson] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[TradeLisenceNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

GO
INSERT [dbo].[Customer] ([Id], [Name], [Mobile], [Email], [Address]) VALUES (1, N'Atik Sarker', 121212, N'atik@gmail.com', N'Uttara')
GO
INSERT [dbo].[Customer] ([Id], [Name], [Mobile], [Email], [Address]) VALUES (2, N'Husna Afrin', 976421, N'huhgsdfsasl', N'uttara')
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerJobRequest] ON 

GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [ReturnScheduleDate], [JobStatusId]) VALUES (1, N'Atik-2001', 1, N'Karim', N'Uttara, Dhaka', 1, N'Need to fixed fan', CAST(2000.00 AS Decimal(18, 2)), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7C000000000 AS DateTime), 1)
GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [ReturnScheduleDate], [JobStatusId]) VALUES (3, N'Husna123', 2, N'Rahim', N'Uttara, Dhaka', 1, N'Need to fixed fan', CAST(1000.00 AS Decimal(18, 2)), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7C000000000 AS DateTime), 1)
GO
INSERT [dbo].[CustomerJobRequest] ([Id], [JobName], [CustomerId], [Contact], [ServiceAddress], [ServiceTypeId], [ServiceDetails], [CustomerBudget], [EntryDate], [ScheduleDate], [ReturnScheduleDate], [JobStatusId]) VALUES (4, N'Atik-2004', 1, N'Mokles', N'Uttara, Dhaka', 1, N'Need to fixed fan', CAST(500.00 AS Decimal(18, 2)), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7B500000000 AS DateTime), CAST(0x0000A7BD00000000 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[CustomerJobRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

GO
INSERT [dbo].[Job] ([Id], [JobRequestId], [VendorId], [VendorCharge], [MeterialDescription], [MaterialCost], [JobStatusId]) VALUES (1, 1, 1, CAST(200.00 AS Decimal(18, 2)), N'Light', CAST(20.00 AS Decimal(18, 2)), 3)
GO
INSERT [dbo].[Job] ([Id], [JobRequestId], [VendorId], [VendorCharge], [MeterialDescription], [MaterialCost], [JobStatusId]) VALUES (2, 3, 2, CAST(200.00 AS Decimal(18, 2)), NULL, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[JobStatus] ON 

GO
INSERT [dbo].[JobStatus] ([Id], [Name]) VALUES (1, N'New Job Request')
GO
INSERT [dbo].[JobStatus] ([Id], [Name]) VALUES (2, N'Send Job Details to Vendor')
GO
INSERT [dbo].[JobStatus] ([Id], [Name]) VALUES (3, N'Vendor Accept Estimate')
GO
SET IDENTITY_INSERT [dbo].[JobStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceType] ON 

GO
INSERT [dbo].[ServiceType] ([Id], [ServiceName]) VALUES (1, N'Electrical ')
GO
INSERT [dbo].[ServiceType] ([Id], [ServiceName]) VALUES (2, N'Plumbing')
GO
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
GO
INSERT [dbo].[StaffList] ([PersonnelKey], [PID], [PName], [Mobile], [Mail], [Designation], [Department], [Pic], [PicType], [CompanyKey], [Usergr], [Username], [Password], [IsUser], [IsDelete]) VALUES (N'2994e9bd-6b78-4a9c-a03d-02b29a6ec9e9', N'Rayhan', N'Emraan Rayhan', N'0000000', N'rayhan.ntiers@gmail.com', N'Support Engineer', N'Support', NULL, NULL, N'906017b5-f9fc-4904-8899-8aece544518c', N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'rayhan', N'1234', 1, 0)
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'df2ac1bb-fffb-4d75-b168-02aefd08185c', N'02', N'Config Manager', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'ed243139-73f2-411e-9df9-251deecdbe92', N'JR', N'Job Request Handlers', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
INSERT [dbo].[Usergroup] ([UserGroupKey], [GroupID], [GroupName], [CompanyKey]) VALUES (N'96a1b60e-35be-4997-b9a2-39cf41a667d6', N'sa', N'Superadmin', N'906017b5-f9fc-4904-8899-8aece544518c')
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

GO
INSERT [dbo].[Vendor] ([Id], [CompanyName], [ContactPerson], [Email], [Phone], [Address], [TradeLisenceNumber]) VALUES (1, N'tithi', N'Popy', N'Farhapopy@gmail.com', N'01773176532', N'Uttara', N'1234')
GO
INSERT [dbo].[Vendor] ([Id], [CompanyName], [ContactPerson], [Email], [Phone], [Address], [TradeLisenceNumber]) VALUES (2, N'TOMA (Electric Service)', N'Karim', N'karim@gmail.com', N'01709696088', N'Uttara', N'3213213214365')
GO
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_CustomerJobRequest_JobStatus] FOREIGN KEY([JobStatusId])
REFERENCES [dbo].[JobStatus] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_CustomerJobRequest_JobStatus]
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_Job_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_Job_Customer]
GO
ALTER TABLE [dbo].[CustomerJobRequest]  WITH CHECK ADD  CONSTRAINT [FK_Job_ServiceType] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceType] ([Id])
GO
ALTER TABLE [dbo].[CustomerJobRequest] CHECK CONSTRAINT [FK_Job_ServiceType]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_CustomerJobRequest] FOREIGN KEY([JobRequestId])
REFERENCES [dbo].[CustomerJobRequest] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_CustomerJobRequest]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_JobStatus] FOREIGN KEY([JobStatusId])
REFERENCES [dbo].[JobStatus] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_JobStatus]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Vendor]
GO
ALTER TABLE [dbo].[StaffList]  WITH CHECK ADD  CONSTRAINT [FK_StaffList_Usergroup] FOREIGN KEY([Usergr])
REFERENCES [dbo].[Usergroup] ([UserGroupKey])
GO
ALTER TABLE [dbo].[StaffList] CHECK CONSTRAINT [FK_StaffList_Usergroup]
GO
ALTER TABLE [dbo].[Usergroup]  WITH CHECK ADD  CONSTRAINT [FK_Usergroup_Company] FOREIGN KEY([CompanyKey])
REFERENCES [dbo].[Company] ([CompanyKey])
GO
ALTER TABLE [dbo].[Usergroup] CHECK CONSTRAINT [FK_Usergroup_Company]
GO
USE [master]
GO
